@model List<WebApplication1.Models.Order>
    <Style>
        .order-table {
            width: 100%;
            border-collapse: collapse;
        }

            .order-table th, .order-table td {
                border: 1px solid #ddd;
                padding: 8px;
                text-align: left;
            }

            .order-table th {
                background-color: #f2f2f2;
            }

            .order-table tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            .order-table tr:hover {
                background-color: #ddd;
            }
    </Style>
    <h1>My Orders</h1>
    @if (Model.Count > 0)
    {
        <table class="order-table">
            <thead>
                <tr>
                    <th>Order ID</th>
               
                    <th>Total Money</th>
                    <th>Order Date</th>
                    <!-- Thêm các cột khác tùy theo nhu cầu -->
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td>@order.OrderID</td>
                 
                        <td>@order.TotalMoney</td>
                        <td>@order.OrderDate</td>
                    <td><a asp-action="MyOrderDetails" asp-controller="Order" asp-route-orderId="@order.OrderID">Xem Đơn Hàng </a></td>

                        <!-- Thêm các ô dữ liệu khác tùy theo nhu cầu -->
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No orders found.</p>
    }
